<div class="container">
  <h1><%= @user.name %>'s Dates</h1>

  <% @meetup_facade.each do |meetup| %>
    <div class="card mb-3" id="meetup-<%= meetup.id %>"> 
      <div class="card-body">
        <h5 class="card-title">Title: <%= meetup.title %></h5>
        <p class="card-text">Location: <%= meetup.location %></p>
        <p class="card-text">Start Time: <%= meetup.start_time %></p>
        <p class="card-text">End Time: <%= meetup.end_time %></p>
        <p class="card-text">First Date: <%= meetup.first_date %></p>

        <%= button_to "Edit Date", "/users/#{@user.id}/meetups/#{meetup.id}/edit", class: "btn btn-primary", method: :get %>
      </div>
    </div>
  <% end %>

  <%= button_to "Create Date", "/users/#{@user.id}/meetups/new", class: "btn btn-success", method: :get %>
</div>
