<h1>Create a Date</h1>

<%= form_with url: "/user/#{@user.id}/dates", method: :post, local: true, data: { turbo: false } do |form| %>
  <%= form.label :name, "Name" %>
  <%= form.text_field :name %><br>
  <%= form.label :date, "Day" %>
  <%= form.date_field :date %><br>
  <%= form.label :time %>
  <%= form.time_field :time %><br>
  <%= form.label :description, "Description" %>
  <%= form.text_field :description %><br>
  <%= form.label :first_date, "First Date?" %>
  <%= form.select :first_date, ["True", "False"] %><br>
  <%= form.submit "Create Date" %>
<% end %>