<h1>Create User Profile</h1>

<%= form_with url: "/users", method: :post, local: true, data: { turbo: false } do |form| %>
  <%= form.label :name, "Full Name" %>
  <%= form.text_field :name %><br>
  <%= form.label :email %>
  <%= form.text_field :email %><br>
  <%= form.label :password %>
  <%= form.text_field :password %><br>
  <%= form.label :password_confirmation, "Password Confirmation" %>
  <%= form.text_field :password_confirmation %><br>
  <%= form.submit "Create Profile" %>
<% end %>