<h1><%= "Welcome #{@user_facade.name}!" %></h1>

<%= button_to "Edit Profile", "/users/#{@id}/edit", method: :get %>
<%= button_to "Add New Date", "/users/#{@id}/dates/new", method: :get %>
<%= button_to "Discover Events", "/users/#{@id}/events/new", method: :get %>
<%= button_to "Discover Foods", "/users/#{@id}/foods/new", method: :get %>
<%= button_to "Log Out", "/users/logout", method: :delete %>

<h1>Your Dates:</h1>